@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #000;
    position: relative;
    height: 100%;
    background: #F4F9FB;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #000;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    background: #FFFFFF;
    border: 1px solid #001E50;
    box-sizing: border-box;
    border-radius: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.12em;
    color: #001E50;
    padding: 0 25px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #000;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}

.desc {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

.container {
    position: relative;
    max-width: 986px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

.ov-hidden {
    overflow: hidden;
}

header {
    opacity: 0;
    transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 25px 0 25px 0;
    background: #FFFFFF;
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

header.header-show {
    opacity: 1;
}

.text-print {
    font-size: 12px;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        margin-right: 18px;
    }
}

.logo-text {
    b {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #364665;
        margin-bottom: 3px;
    }
    span {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #364665;
    }
}

.address-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    a {
        display: block;
        width: fit-content;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-align: right;
        color: #364665;
    }
    span {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: right;
        color: #364665;
    }
}

.content {
    padding: 42px 0 0 0;
    h1 {
        margin-top: 0;
        font-weight: 900;
        font-size: 28px;
        line-height: 130%;
        text-transform: uppercase;
        color: #364665;
        margin-bottom: 32px;
        transition: all 700ms ease, opacity 500ms ease;
        transform: translateY(100%);
        opacity: 0;
        -webkit-transition: all 700ms ease, opacity 500ms ease;
        -moz-transition: all 700ms ease, opacity 500ms ease;
        -ms-transition: all 700ms ease, opacity 500ms ease;
        -o-transition: all 700ms ease, opacity 500ms ease;
    }
}

.content h1.h1-show {
    transform: translateY(0);
    opacity: 1;
}

.exs-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 37px;
    transition: all 700ms ease, opacity 500ms ease;
    opacity: 0;
    transform: translateY(200%);
}

.exs-items-show {
    opacity: 1;
    transform: translateY(0);
}

.exs-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 83px;
    &:last-child {
        margin-right: 0;
    }
}

.exs-item__img {
    flex-shrink: 0;
    position: relative;
    margin-right: 17px;
    background: #4BA82E;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.exs-item__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #494949;
}

.message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 55px 134px 87px 52px;
    background: #FFFFFF;
    box-shadow: 0px 33px 55px rgba(209, 227, 237, 0.33);
    transition: height 100ms ease, transform 700ms ease, opacity 700ms ease;
    background: rgba(255, 255, 255, 0.75);
    transform: translateY(300px) scale(0.9);
    opacity: 0;
}

.message-box.message-box-show {
    transform: translateY(0) scale(1);
    opacity: 1;
    z-index: 1;
    position: relative;
}

.message-item {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-25px);
    display: flex;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
}

.message-item.message-y {
    max-width: 606px;
    width: fit-content;
    transform: translateX(25px);
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -o-transform: translateX(25px);
}

.message-item.visF {
    display: flex;
}

.message-item.vis {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.avatar {
    flex-shrink: 0;
    margin-right: 18px;
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &::after {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        background: #9FFFDD;
        position: absolute;
        bottom: 3px;
        right: 7px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    img {
        @include imgCenter;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.name {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 6px;
}

.message-info {
    padding: 15px 0 0 0;
    max-width: 686px;
    width: 100%;
}

.message-text {
    width: fit-content;
    padding: 18px 25px 18px 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 7px 33px rgba(0, 0, 0, 0.05);
    border-radius: 0px 16px 16px 16px;
}

.services {
    padding: 0 20px 0 79px;
    display: flex;
    display: none;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.services.visF {
    display: flex;
}

.services-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 17px 14px 17px;
    position: relative;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #F1F9FC;
    border-radius: 16px;
    border: 2px solid transparent;
    @include tr2;
    cursor: pointer;
    z-index: 5;
    &:nth-child(3n) {
        margin-right: 0;
    }
    &:hover,
    &.active {
        background: #fff;
        border-color: #92EEF4;
    }
    img {
        margin-right: 14px;
    }
}

.car-item:nth-child(3n) {
    margin-right: 0;
}

.services-item input {
    display: none;
}

.services-item__title {
    @include tr2;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #364665;
}

.message-y {
    align-self: flex-end;
    .message-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: #364665;
        background: #92EEF4;
        box-shadow: 0px 4px 22px rgba(146, 238, 244, 0.63);
        border-radius: 16px 0px 16px 16px;
    }
    .name {
        text-align: right;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        text-align: right;
        color: #364665;
    }
}

.btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 22px;
    label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: 10px;
        background: #F1F9FC;
        border-radius: 16px;
        border: 2px solid transparent;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        cursor: pointer;
        z-index: 5;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: #364665;
        &:hover,
        &.active {
            background: #fff;
            border-color: #92EEF4;
        }
    }
}

.btns-checked label {
    pointer-events: none;
}

.btns input {
    display: none;
}

.btns span {
    display: block;
    width: 100%;
}

.form-request {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    input {
        max-width: 192px;
        width: 100%;
        padding: 0 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        align-items: center;
        letter-spacing: 0.12em;
        color: #364665;
        margin-right: 20px;
    }
}

.agree {
    width: 100%;
    position: relative;
    margin-top: 18px;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #747474;
    margin: 26px 0 18px 0;
    padding: 0 0 0 25px;
    input {
        opacity: 0;
        width: 1px;
        height: 1px;
        position: absolute;
        top: 16px;
        left: 7.5px;
    }
    label {
        cursor: pointer;
    }
    span {
        position: absolute;
        left: 0;
        top: -3px;
        display: block;
        width: 16px;
        height: 16px;
        border: 1.4px solid #74DEE4;
        box-sizing: border-box;
        border-radius: 6px;
        &::after {
            content: '';
            display: block;
            background: url(../img/ok.svg) no-repeat center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 1px;
            bottom: 0;
            opacity: 0;
            @include tr2;
        }
    }
    b {
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
        color: #747474;
    }
    a {
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
        color: #747474;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.agree label input:checked+span::after {
    opacity: 1;
}

.butphone {
    display: block;
    max-width: 161px;
    width: 100%;
    background: #92EEF4;
    box-shadow: 0px 4px 22px rgba(146, 238, 244, 0.63);
    font-weight: normal;
    font-size: 12px;
    line-height: 132%;
    text-align: center;
    color: #364665;
    border-radius: 16px;
    padding: 16px 0 15px 0;
    border: 0;
    cursor: default;
    transition: all 200ms ease;
    opacity: 0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.butphoneshow {
    cursor: pointer;
    opacity: 1;
    width: 100%;
}

.info-mobile {
    display: none;
}

.message-item-last {
    margin-bottom: 20px;
}

.btns {
    label {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    span {
        b {
            display: block;
            font-weight: 600;
            font-size: 12px;
            line-height: 132%;
            color: #364665;
        }
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 132%;
            color: #364665;
            margin-bottom: 0;
        }
    }
}

.back-step {
    display: block;
    max-width: 686px;
    width: 100%;
    margin-left: 88px;
    margin-top: 20px;
    border-top: 0.5px solid #E4EDFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #364665;
    padding: 17px 0 17px 26px;
    background: url(../img/arrow.svg) no-repeat left center;
}

.back-step-dis {
    pointer-events: none;
}

.services-elem {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 986px) {
    .back-step {
        margin-left: 0;
        max-width: 100%;
        width: 90%;
    }
    .avatar {
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-bottom: 7px;
    }
    .name {
        margin-bottom: 7px;
        font-weight: 500;
    }
    .content h1 {
        font-size: 32px;
    }
    .exs-item__text {
        font-size: 12px;
    }
    .avatar {
        flex-shrink: 0;
    }
    .message-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .message-m .message-info {
        width: 100%;
        padding: 0;
    }
    // .btns {
    //     flex-direction: column;
    //     align-items: flex-start;
    // }
    // .btns label:first-child {
    //     margin-right: 0;
    //     margin-bottom: 20px;
    // }
    .message-m .message-info {
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .cars {
        padding: 15px 0 0 15px;
    }
    .car-item {
        margin-right: 70px;
    }
}

@media screen and (max-width: 850px) {
    .phone-worktime {
        padding: 0;
        background: none;
    }
    .phone-worktime span {
        display: none;
    }
    .phone-worktime a {
        margin-bottom: 0;
        display: block;
        width: 39px;
        height: 39px;
        background: url(../img/tel-mobile.svg) no-repeat center;
        font-size: 0;
    }
}

@media screen and (max-width: 765px) {
    .car-item {
        margin-right: 185px;
    }
    .car-item:nth-child(3n) {
        margin-right: 185px;
    }
    .car-item:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 735px) {
    .logo-text b,
    .logo-text span {
        font-size: 12px;
        line-height: 140%;
    }
    .logo img {
        width: 30px;
        height: 32px;
        margin-right: 12px;
    }
    .info-mobile {
        padding: 0 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .address-phone {
            margin-left: 0;
        }
        .logo-text {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            b {
                margin-right: 13px;
            }
        }
    }
    .content {
        padding: 15px 0 0 0;
    }
    header .address-phone span {
        display: none;
    }
    .logo-text b {
        margin-bottom: 0;
    }
    .address-phone span {
        font-size: 11px;
    }
    header .address-phone a {
        display: block;
        font-size: 0;
        width: 34px;
        height: 34px;
        background: url(../img/tel-ico.svg) no-repeat center;
        border: 1px solid #E7E7E7;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

@media screen and (max-width: 700px) {
    .message-box {
        padding: 45px 20px 50px 20px;
    }
    .exs-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .exs-item {
        margin-right: 0;
        width: 45%;
        margin-bottom: 45px;
    }
    .content h1 br {
        display: none;
    }
    .address {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .cars {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .car-item:nth-child(3n) {
        margin-right: 0;
    }
    .car-item {
        margin-right: 0;
    }
}

@media screen and (max-width: 530px) {
    .form-request {
        flex-direction: column;
        align-items: flex-start;
    }
    .form-request input {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .butphone {
        max-width: 100%;
    }
    .agree b {
        width: 100%;
        font-size: 10px;
    }
    .agree a {
        font-size: 10px;
    }
    .message-box {
        padding: 30px 12px 50px 12px;
    }
    header {
        padding: 20px 0;
    }
    .exs-item {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
    }
    .content h1 {
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 15px;
    }
    .exs-item__text {
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
        color: #494949;
    }
    .exs-item {
        margin-bottom: 16px;
    }
    .exs-items {
        margin-bottom: 10px;
    }
    .head-title span {
        font-size: 12px;
    }
    .avatar::after {
        bottom: 3px;
        right: 0px;
    }
    .message-text {
        font-size: 14px;
        padding: 18px 20px 18px 20px;
    }
    .btns a {
        flex-shrink: 0;
        padding: 10px 10px 10px 10px;
    }
    .form-request input {
        padding: 0 15px;
        width: 100%;
        max-width: 100%;
    }
    .form-request .agree input {
        padding: 0;
        max-width: 1px;
        width: 1px;
    }
    .agree span::after {
        left: 0;
    }
    .agree {
        margin-bottom: 18px;
        margin-top: 18px;
    }
    .services {
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .services-item {
        margin-right: 0;
    }
}

// @import 'media';